@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
  url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
  url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin:0;
  font-family: "Open sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #fdfbfb;
  color: #222;
  height: 100vh;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}



@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}

.header-site {
  background-color: rgb(243, 212, 75);
}

.menu {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: auto;
}

.menu-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin: 0;
}

.menu-link {
  text-decoration: none;
  color: #222;
  font-weight: 900;
  font-size: 20px;
  text-transform: uppercase;
  padding: 30px 10px;

}

.menu-item:hover {
  background-color: rgb(197, 197, 35);
}

.social-items {
  padding: 0 15px;
}

.search {
  border: 0;
  background-color: transparent;
  padding-bottom: 5px;
}

.menu-item::after {
  width: 0px;
  display: inline-block;
  content: "";
  border-bottom: 10px solid transparent;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 10px solid black;
  margin-top: 10px;
  margin-right: 10px;
}

.menu-item {
  display: flex;
  align-items: center;
  border-left: 1px solid;
  transition: background-color 0.5s ease;
}

.menu-item:nth-last-child(1) {
  border-right: 1px solid;
  margin-right: 10px;
}

.drop-down {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  border: 1px solid black;
  transform: translate(0, -500px);
  z-index: -1;
  opacity: 0;
  transition: 2s ease;
}

.sup-item:hover .drop-down{
  transform: translate(0, 0px);
  transition: 1s ease;
  opacity: 1;
}


.sup-item {
  position: relative;
  transition: 1s ease;
  z-index: 2;
}

.drop-down-item {
  background-color: rgb(243, 212, 75);
  transition: background-color 0.3s ease;
}

.drop-down-item:hover {
  background-color: rgb(197, 197, 35);
}

.drop-down-item+.drop-down-item {
  border-top: 1px solid;
}

.drop-down-link {
  text-decoration: none;
  color: #222;
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px;
  width: 100%;
  display: block;
  
}

.search {
  transition: transform 0.3s ease;
}

.search:hover {
  transform: scale(1.2);
}

.social-items {
  transition: transform 0.3s ease;
}

.social-items:hover {
  transform: scale(1.5);
}
